@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.phonebook {
  .grid {
    @include ms-Grid;
  }
  .row {
    @include ms-Grid-row;
  }
  .col{
    @include ms-Grid-col;
  }

  .col4 {
    @include ms-lg4;
  }

  .col8 {
    @include ms-lg8;
  }

  .ms-sm6 {
    @include ms-sm6;
  }
  .ms-md4 {
    @include ms-md4;
  }
  .ms-md8{
    @include ms-md8;
  }
  .ms-lg2 {
    @include ms-lg2;
  }
  .ms-lg10 {
    @include ms-lg10;
  }

  .underlinedSearchBox {
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
    border-width: 0px 0px 1px;
  }

  .pagination {
      display: inline-block;
      text-align: center;
      width: 100%;

      ul {
          display: inline-block;
          padding-left: 0;
          border-radius: 4px;

          li {
              display: inline;

              a {
                  float: left;
                  padding: 5px 10px;
                  text-decoration: none;
                  border-radius: 15px;
                  color: gray;

                  i {
                      font-size: 10px;
                  }
              }

              a:visited {
                  color: inherit;
              }

              a.active {
                  background-color: $ms-color-themePrimary;
                  color: white!important;
              }
          }
      }
  }
}