@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.birthdayList {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    padding-bottom: 5px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .heading {
    @include ms-font-xl;
    padding-bottom: 10px;
  }
}